footer.background-midnight-blue.color-white(data-control='class', style='position: relative;')
    .container
        .row
            .col-md-3
                h3 Menu
                ul.nav-footer
                    li.active
                        a(href='index.html') Home
                    li
                        a(href='aboutus.html') About us
                    li
                        a(href='products.html') Products
                    li
                        a(href='resource.html') Resource
                    li
                        a(href='contact.html') Contact
            .col-md-4
                h3 LATEST NEWS
                ul.media-list.footer_teaser
                    li.media
                        a.media-photo(href="resource.html" style="background-image:url(http://www.leonart.gr/htmlthemes/restart_v4/images/portfolio/t5.jpg)")
                        a.media-date 19
                            span FEB
                        h5.media-heading
                            a Media heading, this is a title of a news...
                        p Fugiat dapibus, tellus ac cursus commodo, ut fermentum...
                    li.media
                        a.media-photo(href="resource.html" style="background-image:url(http://www.leonart.gr/htmlthemes/restart_v4/images/portfolio/t4.jpg)")
                        a.media-date 18
                            span FEB
                        h5.media-heading
                            a Media heading, of a news item.
                        p Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...
            .col-md-5
                h3 Contact us
                form.form-horizontal
                    .form-group
                        .col-lg-3.control-label Name
                        .col-lg-9
                            input.form-control.input-lg.TypeName(placeholder="Name")
                    .form-group
                        .col-lg-3.control-label Email
                        .col-lg-9
                            input.form-control.input-lg.TypeEmail(placeholder="Email")
                    .form-group
                        .col-lg-3.control-label Content
                        .col-lg-9
                            textarea.form-control.input-lg.TypeContent(rows="3")
                    .form-group
                        .col-lg-offset-3.col-lg-9
                            a.btn.btn-lead.btn-lg.TypeSubmit(href="mailto:contact@digital-pet.com") Send us an email
        .row
            .col-md-12
                hr
                .row
                    .col-md-6
                        | All rights reserved &copy; 2015
                        a(href='http://www.digital-pet.com/') digital-pet.com
                    .col-md-6
                        p.social
                            a(href="/")
                                span.fa.fa-facebook
                            a(href="/")
                                span.fa.fa-twitter
                            a(href="/")
                                span.fa.fa-youtube
                            a(href="/")
                                span.fa.fa-linkedin
                            a(href="/")
                                span.fa.fa-pinterest