extends layout
block indexcontent


    //#hero
        #owl-main.owl-carousel.home-page-carousel.height-lg.owl-inner-nav.owl-ui-lg.owl-theme
            .item(style="background-image: url(assets/images/pet01.jpg)")
                .container
                    .caption.vertical-center.text-center
                        .big-text.fadeInDown-1.tp-caption.large_bold_white.lft.ltt.carousel-caption(style="opacity: 0;")
                            h1.skincolored.xxx
                                |All-Digital&nbsp;
                                a(style="color:#042D5C;")
                                    strong PET/CT
                                br
                                |the&nbsp;
                                a(style="color:#042D5C;")
                                    strong Next&nbsp;
                                | Digital Medical Imaging Technology
                            br
                            P.lead
                                |This novel PET/CT bring you&nbsp;
                                a(style="color:#042D5C;")
                                    strong a super high performance&nbsp;
                                | and&nbsp;
                                a(style="color:#042D5C;")
                                    strong Extremely easy to use
                                |,
                                br
                                |  you can see what haven't seen, to learn more&nbsp;
                                a(href="http://www.digital-pet.com" style="color:#042D5C;")
                                    strong By this PET/CT
                                |,&nbsp;open an new world for molecular imaging!
            .item(style="background-image: url(assets/images/pet02.JPG)")
                .container
                    .caption.vertical-center.text-center
                        .big-text.fadeInDown-1.tp-caption.large_bold_white.lft.ltt.carousel-caption(style="opacity: 0;")
                            h1.skincolored.xxx
                                |Plug-and-Play Digital&nbsp;
                                a(style="color:#042D5C;")
                                    strong PET Detector
                                br
                                |a creative&nbsp;
                                strong MVT&nbsp;
                                | based technology
                            br
                            P.lead
                                |The first high perfermance and PnP&nbsp;
                                a(href="http://www.digital-pet.com" style="color:#042D5C;")
                                    strong LYSO/SiPM&nbsp;
                                | detector&nbsp;
                                br
                                | make the imaging more&nbsp;
                                a(style="color:#042D5C;")
                                    strong simple, more clear, more quick,&nbsp;
                                | and&nbsp;
                                a(style="color:#042D5C;")
                                    strong more realiable !
            .item(style="background-image: url(assets/images/pet03.jpg)")
                .container
                    .caption.vertical-center.text-center
                        .big-text.fadeInDown-1.tp-caption.large_bold_white.lft.ltt.carousel-caption(style="opacity: 0;")
                            h1.skincolored.xxx
                                |pico-second&nbsp;
                                a(style="color:#042D5C;")
                                    strong Global-Clock-Matrix
                                br
                                |Enable your&nbsp;
                                strong Time-of-Flight&nbsp;
                                | technology
                            br
                            P.lead
                                |Flexible global clock achieves&nbsp;
                                a
                                    strong 50ps jitter
                                | , and support to setup a matrix with  more than&nbsp;
                                a
                                    strong 13000&nbsp;
                                | channels,
                                br
                                |To learn more technical details of this&nbsp;
                                a(href="http://www.digital-pet.com")
                                    strong Global-Clock-Matrix
                                |, see the 500ps FWHM solution!

    section(style="padding:0;margin-top: 50px;")
        .banner
            ul
                li(data-transition="papercut" data-slotamount="10" data-masterspeed="300")
                    img(src="assets/images/pet01.jpg" alt="Slide Image")
                    .tp-caption.large_bold_white.lft.ltt.carousel-caption(data-speed="300" data-start="1200" data-easing="easeOutExpo" style="position:absolute;font-size: 40px; line-height: 50px;left:6.25%;bottom:20px;")
                        h1.skincolored.xxx
                            |All-Digital&nbsp;
                            a(style="color:#042D5C;")
                                strong PET/CT
                            br
                            |the&nbsp;
                            a(style="color:#042D5C;")
                                strong Next&nbsp;
                            | Digital Medical Imaging Technology
                        br
                        P.lead
                            |This novel PET/CT bring you&nbsp;
                            a(style="color:#042D5C;")
                                strong a super high performance&nbsp;
                            | and&nbsp;
                            a(style="color:#042D5C;")
                                strong Extremely easy to use
                            |,
                            br
                            |  you can see what haven't seen, to learn more&nbsp;
                            a(href="http://www.digital-pet.com" style="color:#042D5C;")
                                strong By this PET/CT
                            |,&nbsp;open an new world for molecular imaging!
                li(data-transition="slideleft" data-slotamount="10" data-masterspeed="300")
                    img(src="assets/images/pet02.JPG" alt="Slide Image")
                    .tp-caption.large_bold_white.lft.ltt.carousel-caption(data-speed="300" data-start="1200" data-easing="easeOutExpo" style="font-size: 40px; line-height: 50px;left:6.25%;bottom:20px;")
                        h1.skincolored.xxx
                            |Plug-and-Play Digital&nbsp;
                            a(style="color:#042D5C;")
                                strong PET Detector
                            br
                            |a creative&nbsp;
                            strong MVT&nbsp;
                            | based technology
                        br
                        P.lead
                            |The first high perfermance and PnP&nbsp;
                            a(href="http://www.digital-pet.com" style="color:#042D5C;")
                                strong LYSO/SiPM&nbsp;
                            | detector&nbsp;
                            br
                            | make the imaging more&nbsp;
                            a(style="color:#042D5C;")
                                strong simple, more clear, more quick,&nbsp;
                            | and&nbsp;
                            a(style="color:#042D5C;")
                                strong more realiable !
                li(data-transition="boxslide" data-slotamount="10" data-masterspeed="300")
                    img(src="assets/images/pet03.jpg" alt="Slide Image")
                    .tp-caption.large_bold_white.lft.ltt.carousel-caption(data-speed="300" data-start="1200" data-easing="easeOutExpo" style="font-size: 40px; line-height: 50px;left:6.25%;bottom:20px;")
                        h1.skincolored.xxx
                            |pico-second&nbsp;
                            a(style="color:#042D5C;")
                                strong Global-Clock-Matrix
                            br
                            |Enable your&nbsp;
                            strong Time-of-Flight&nbsp;
                            | technology
                        br
                        P.lead
                            |Flexible global clock achieves&nbsp;
                            a
                                strong 50ps jitter
                            | , and support to setup a matrix with  more than&nbsp;
                            a
                                strong 13000&nbsp;
                            | channels,
                            br
                            |To learn more technical details of this&nbsp;
                            a(href="http://www.digital-pet.com")
                                strong Global-Clock-Matrix
                            |, see the 500ps FWHM solution!


                    //.tp-caption.small_light_white.sfl.stl(data-x="50" data-y="185" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        |Lorem ipsum dolor sit amet, eum cu sint dolores, dicat
                        br
                        |possit malorum at sit, ut natum assentior mea. Mel
                        br
                        |congue malorum te, eu cum blandit salutatus comprehensam
                        br
                        |atqui causae ancillae cum ei.
                    //a.caption.btn.btn-flat.flat-primary.btn-bordered.sfb.stb(data-x="50" data-y="320" data-speed="300" data-start="1600" data-easing="easeOutExpo")
                        |Learn More
                    //a.caption.btn.btn-flat.flat-color.sfb.stb(data-x="170" data-y="320" data-speed="300" data-start="1800" data-easing="easeOutExpo")
                        |Purchase Now
                    //.caption.lfr.ltr(data-x="725" data-y="50" data-speed="300" data-start="2000" data-easing="easeOutExpo")
                        img(src="http://wobootstrap.com/htmldemo/flatpoint120/assets/img/slides/iphone%20(1).png" alt="Slide Image")
                    //.caption.lfr.ltr(data-x="565" data-y="50" data-speed="300" data-start="2200" data-easing="easeOutExpo")
                        img(src="http://wobootstrap.com/htmldemo/flatpoint120/assets/img/slides/iphone%20(2).png" alt="Slide Image")
                //li(data-transition="slideleft" data-slotamount="10" data-masterspeed="300")
                    img(src="assets/images/pet04.JPG" alt="Slide Image")
                    .tp-caption.large_bold_white.lft.ltt(data-x="47" data-y="80" data-speed="300" data-start="1200" data-easing="easeOutExpo" style="font-size: 40px; line-height: 50px;")
                        |Plug and Play
                        br
                        |Detectors
                    .tp-caption.small_light_white.sfl.stl(data-x="47" data-y="210" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | Real Fast Scintillator
                    .tp-caption.small_light_white.sfl.stl(data-x="47" data-y="260" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | Real Digitize by MVTR
                    .tp-caption.small_light_white.sfl.stl(data-x="47" data-y="310" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | Update  online
                    .tp-caption.small_light_white.sfl.stl(data-x="47" data-y="360" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | Data/Control separate

                //li(data-transition="slideleft" data-slotamount="10" data-masterspeed="300")
                    img(src="assets/images/pet05.JPG" alt="Slide Image")
                    .tp-caption.large_bold_white.lft.ltt(data-x="300" data-y="250" data-speed="300" data-start="1200" data-easing="easeOutExpo" style="font-size: 40px; line-height: 50px;")
                        |Data Acquiring System
                        br
                        |will never be a limit for Count Rate
                    .tp-caption.small_light_white.sfl.stl(data-x="762" data-y="50" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | No  limited interfaces
                    .tp-caption.small_light_white.sfl.stl(data-x="762" data-y="100" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | Standard Switch
                    .tp-caption.small_light_white.sfl.stl(data-x="762" data-y="150" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | 400Gbps Data Rate
                    .tp-caption.small_light_white.sfl.stl(data-x="762" data-y="200" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        | Easy extended
                //li(data-transition="slideleft" data-slotamount="10" data-masterspeed="300")
                    img(src="assets/images/pet06.jpg" alt="Slide Image")
                    .tp-caption.large_bold_white.lft.ltt(data-x="47" data-y="250" data-speed="300" data-start="1200" data-easing="easeOutExpo" style="font-size: 40px; line-height: 50px;")
                        |The World’s First Flexialbe
                        br
                        |Smart Gantry
                    .tp-caption.small_light_white.sfl.stl(data-x="662" data-y="50" data-speed="600" data-start="1400" data-easing="easeOutExpo" style="width:450px")
                        | Real convenient : Easy Install and Move
                    .tp-caption.small_light_white.sfl.stl(data-x="662" data-y="100" data-speed="600" data-start="1400" data-easing="easeOutExpo" style="width:450px")
                        | Real Flexible Scalable
                    .tp-caption.small_light_white.sfl.stl(data-x="662" data-y="150" data-speed="600" data-start="1400" data-easing="easeOutExpo" style="width:450px")
                        | All CNC Manufacture
                    .tp-caption.small_light_white.sfl.stl(data-x="662" data-y="200" data-speed="600" data-start="1400" data-easing="easeOutExpo" style="width:450px")
                        | All AAO & Stainless Material (used for iphone)
                    .tp-caption.small_light_white.sfl.stl(data-x="662" data-y="250" data-speed="600" data-start="1400" data-easing="easeOutExpo" style="width:450px")
                        | Real Smart: Position Identify for PnP Detectors
                    .tp-caption.small_light_white.sfl.stl(data-x="662" data-y="300" data-speed="600" data-start="1400" data-easing="easeOutExpo" style="width:450px")
                        | Real Time Monitor and Controller for Power

                    //.tp-caption.small_light_white.sfl.stl(data-x="50" data-y="185" data-speed="600" data-start="1400" data-easing="easeOutExpo")
                        |Lorem ipsum dolor sit amet, eum cu sint dolores, dicat
                        br
                        |possit malorum at sit, ut natum assentior mea. Mel
                        br
                        |congue malorum te, eu cum blandit salutatus comprehensam
                        br
                        |atqui causae ancillae cum ei.
                    //a.caption.btn.btn-flat.flat-primary.btn-bordered.sfb.stb(data-x="50" data-y="320" data-speed="300" data-start="1600" data-easing="easeOutExpo")
                        |Learn More
                    //a.caption.btn.btn-flat.flat-color.sfb.stb(data-x="170" data-y="320" data-speed="300" data-start="1800" data-easing="easeOutExpo")
                        |Purchase Now
                    //.caption.lfr.ltr(data-x="590" data-y="90" data-speed="300" data-start="2000" data-easing="easeOutExpo")
                        iframe(src="http://wobootstrap.com/htmldemo/flatpoint120/" width="460" height="259")


            //.tp-bannertimer.tp-bottom

    //.responsive-slider-parallax(data-spy="responsive-slider" data-parallax="true" data-parallax-direction="-1" data-transitiontime="1000" data-autoplay="true")
        .slides-container(data-group="slides" style="background-image:url(http://w3widgets.com/templates/neat/1.5.0-demo-46675322/img/background-paralax.jpg);background-size:cover;")
            ul
                li
                    .slide-body(data-group="slide")
                        .container
                            .wrapper
                                .caption.header(data-animate="slideAppearRightToLeft" data-delay="0" data-length="300")
                                    h2 Neat theme
                                    p.sub.text-left(data-animate="slideAppearLeftToRight" data-delay="300" data-length="300")
                                        span Clean and modern design
                                    p.sub.text-left(data-animate="slideAppearLeftToRight" data-delay="500" data-length="300")
                                        span Lightweight
                                    p.sub.text-left(data-animate="slideAppearLeftToRight" data-delay="700"  data-length="300")
                                        span Standards compliant
                li
                    .slide-body(data-group="slide")
                        .container
                            .wrapper
                                .caption.header.text-center(data-animate="slideAppearUpToDown" data-delay="0" data-length="300")
                                    h2 Twitter Boostrap
                                    p.sub(data-animate="slideAppearUpToDown" data-delay="300" data-length="300")
                                        span Compatible with version 3
                                    p.sub(data-animate="slideAppearUpToDown" data-delay="500" data-length="300")
                                        span Perfectly compatible with grid system
                                    p.sub(data-animate="slideAppearUpToDown" data-delay="700"  data-length="300")
                                        span Bootstrap compatible Slider and Calendar plugins
                li
                    .slide-body(data-group="slide")
                        .container
                            .wrapper
                                .caption.header.text-right(data-animate="slideAppearDownToUp" data-delay="0" data-length="300")
                                    h2 Html
                                        span(style="font-weight: 300")
                                            span.color-alizarin c
                                            span.color-carrot o
                                            span.color-sun-flower l
                                            span.color-emerald o
                                            span.color-peter-river r
                                        | classes
                                    p.sub.text-right(data-animate="slideAppearDownToUp" data-delay="300" data-length="300")
                                        span "Flat UI" colors palette
                                    p.sub.text-right(data-animate="slideAppearDownToUp" data-delay="500" data-length="300")
                                        span Made to modify any layout element
        a.slider-control.left.hidden-xs.hidden-sm(data-jump="prev")
            i.fa.fa-angle-left
        a.slider-control.right.hidden-xs.hidden-sm(data-jump="next")
            i.fa.fa-angle-right
        .pages-wrapper.background-black
            ol.pages
                li.active
                    a(data-jump-to="1") 1
                li
                    a(data-jump-to="2") 2
                li
                    a(data-jump-to="3") 3
    //.responsive-slider-parallax
        a.slider-control.left.hidden-xs.hidden-sm.owl-left
            i.fa.fa-angle-left
        a.slider-control.right.hidden-xs.hidden-sm.owl-right
            i.fa.fa-angle-right
        #owl-main.owl-carousel.owl-theme
            .item
                img(src='assets/images/pet01.jpg', alt='Pet01')
            .item
                img(src='assets/images/pet02.jpg', alt='Pet02')
            .item
                img(src='assets/images/pet03.jpg', alt='Pet03')
    section.background-white.color-black(data-control='class', style='position: relative;')
        .container
            .row
                .col-sm-4.col-md-4
                    a.info-thumbnail-link(href='imaging.html')
                        .thumbnail.info-thumbnail
                            .caption
                                h3
                                    span.fa.fa-flag.color-lead
                                    | All Digital Technology
                                p.description(style='height: 154px;')
                                    | Unlock the potential of DSP to provide state-of-the-art architecture at a fraction of the cost. The All-digital technology help  acquiring the real signal and the ture information of every event, enhancing the performance.
                .col-sm-4.col-md-4
                    a.info-thumbnail-link(href='imaging.html')
                        .thumbnail.info-thumbnail
                            .caption
                                h3
                                    span.fa.fa-group.color-lead
                                    | Modularity Design
                                p.description(style='height: 154px;')
                                    | Enable adaptive configurations from simple to extremely complex measurement and imaging solutions. Bring the lastest information  and computer technology into the medical imaging, high performance, low cost, fast update.
                .col-sm-4.col-md-4
                    a.info-thumbnail-link(href='imaging.html')
                        .thumbnail.info-thumbnail
                            .caption
                                h3
                                    span.fa.fa-gavel.color-lead
                                    | Open architecture
                                p.description(style='height: 154px;')
                                    | Flexiable architecture provide standard interfaces and protocals to every module and every modularized component, easy to design&#xFF0C; easy to manifacture, easy to use and esay to mantian. Make the medical imaging easy and robust.
