//
   Created by ljp on 2015/7/6.

extends layout
block header_list
    li.dropdown
        a(href='index.html') Home
    li.dropdown
        a(href='aboutus.html') About us
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown")
            |Product
            span.caret
        ul.dropdown-menu
            li.active
                a(href="products.html") overview
            li
                a(href="specification.html") specification
            li
                a(href="imaging.html") imaging
    li.dropdown.active
        a(href='resource.html') Resource
    li.dropdown
        a(href='contact.html') Contact

block resourcecontent
    .breadcrumbs-container
        .container
            ol.breadcrumb
                li
                    a(href="index.html") Home
                li Resource

    section#blog-wrapper.section.layout-1
        .container
            .row
                .col-md-9.content-wrapper
                    article.post(style="font-size: 13px; color:#95a5a6;font-weight:600")
                        .post-thumb
                            a(href="#")
                                img.img-responsive(src="http://wobootstrap.com/htmldemo/flatpoint120/assets/img/blog/photo%20(1).jpg" alt="Responsive image")
                        .post-content
                            h4.post-title
                                a(href="newOne.html" style="color:#000;font-weight:600") The Ultimate Guide to Adjustment Layers – Vibrance
                            p(style="font-weight:400") Tale agam brute pro cu. Augue viderer sententiae vim in. An alia alterum vix, erat movet sonet ad sit, dolore nominati ei quo. Ad latine reformidans mea, ne aliquam expetendis nec, dicit option propriae et has. At eirmod vituperata conclusionemque nec, vix id omnis equidem, munere veritus deserunt id quo. Inani falli utinam ius te, an volutpat partiendo explicari sed. Altera graeco adolescens no mel, an esse perfecto his.
                        .post-meta
                            ul.meta-list
                                li
                                    span Posted on
                                    span.black 25 July 2013
                                li
                                    span By
                                    span.black(href="#") Admin
                                li
                                    span In
                                    a.black(href="#") Tutorials
                                    span ,
                                    a.black(href="#") Tools & Tips
                                li
                                    a.black.read-more(href="newOne.html") Read More
                                        i.icon-long-arrow-right
                    article.post(style="font-size: 13px; color:#95a5a6;font-weight:600")
                        .post-thumb
                            a(href="#")
                                video.img-responsive(src="assets/images/TheStory.mp4" autoplay="autoplay" controls="controls" loop="loop")
                        .post-content
                            h4.post-title
                                a(href="newTwo.html" style="color:#000;font-weight:600") The Ultimate Guide to Adjustment Layers – Vibrance
                            p(style="font-weight:400") Tale agam brute pro cu. Augue viderer sententiae vim in. An alia alterum vix, erat movet sonet ad sit, dolore nominati ei quo. Ad latine reformidans mea, ne aliquam expetendis nec, dicit option propriae et has. At eirmod vituperata conclusionemque nec, vix id omnis equidem, munere veritus deserunt id quo. Inani falli utinam ius te, an volutpat partiendo explicari sed. Altera graeco adolescens no mel, an esse perfecto his.
                        .post-meta
                            ul.meta-list
                                li
                                    span Posted on
                                    span.black 25 July 2013
                                li
                                    span By
                                    span.black(href="#") Admin
                                li
                                    span In
                                    a.black(href="#") Tutorials
                                    span ,
                                    a.black(href="#") Tools & Tips
                                li
                                    a.black.read-more(href="newTwo.html") Read More
                                        i.icon-long-arrow-right
                .col-md-3.sidebar
                    .widget.search
                        .widget.text
                            h5.subpage-title Text Widget
                            p Eam virtute petentium te. Sit ubique assentior similique et, cum tibique comprehensam at. Nam cu diam idque virtute, pro nihil bonorum percipitur et, illum simul eloquentiam per ea. Alii elit qui ad, prima singulis similique an per. Iudico sanctus eam no. Qui corpora accusamus no, eum id eripuit instructior.
                        .widget.popular-posts
                            h5.subpage-title Popular Posts
                            ul.recent-posts
                                li
                                    img(src="http://wobootstrap.com/htmldemo/flatpoint120/assets/img/blog/photo%20(10).jpg" alt="Post Image")
                                    h5
                                        a(href="newOne.html") The Ultimate Guide to Adjustment Layers – Vibrance
                                        small Posted July 20, 2013
                                li
                                    img(src="http://wobootstrap.com/htmldemo/flatpoint120/assets/img/blog/photo%20(10).jpg" alt="Post Image")
                                    h5
                                        a(href="newTwo.html") The Ultimate Guide to Adjustment Layers – Vibrance
                                        small Posted July 20, 2013
                                li
                                    img(src="http://wobootstrap.com/htmldemo/flatpoint120/assets/img/blog/photo%20(10).jpg" alt="Post Image")
                                    h5
                                        a(href="newTwo.html") The Ultimate Guide to Adjustment Layers – Vibrance
                                        small Posted July 20, 2013


