script(src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
script(src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js')
script(src='http://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.js')
script(src='assets/scripts/main.js')
script(src='assets/scripts/reduce-menu.js')
script(src='http://api.map.baidu.com/api?v=2.0&ak=KQQ7eOL7G8rsWykT518Zqnw8')
script(src='assets/scripts/map.js')
script(src='assets/scripts/jquery-2.0.3.min.js')
script(src='assets/scripts/jquery-migrate-1.1-1.min.js')
script(src='assets/scripts/bootstrap.min.js')
script(src='assets/scripts/jquery.themeounch.tools.min.js')
script(src='assets/scripts/jquery.themepunch.revolution.min.js')
script(src='assets/scripts/top.js')